<script src="fitness-centers.ts"></script>
<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wellness Centers</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
    <div class="dark-gradient"></div>
<ion-grid style="margin-top: 100px">
    <ion-row >
      <ion-col col-lg-12 push-lg-0 col-md-12 push-md-0 no-padding>
        <div>
          <ion-row no-padding class="discovery-row">
            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h3>Centers for General Health and Well-Being </h3>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h3>Centers that offer Specific Health Services</h3>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>



            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h3>Well-Being Centers Run By Physicians</h3>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
