
<ion-content padding>
  <div class="dark-gradient"></div>
    <!--<ion-title>Login</ion-title>-->

    <form  novalidate class="padding-top">
        <ion-row>
            <ion-item>
                <ion-label for="email"></ion-label>
                <ion-input type="email" placeholder="username"  [(ngModel)]="user.username" name="username" (keypress)="typed($event)" ></ion-input>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label for="password"></ion-label>
                <ion-input type="password" [(ngModel)]="user.password" name="password" (keypress)="typed($event)"  placeholder="Password" ></ion-input>
            </ion-item>
        </ion-row>
    </form>

      <div class="login-action-btns" padding-top>
        <button  (tap)=goToRegister() class="register-button" color="light" ion-button block outline="">Sign up</button>

        <button (tap)="login()" class="login-button" color="light" ion-button block outline="">Log in</button>
      </div>

    <!--new link to sign up page-->
    <ion-row>
        <button [navPush]="resetPasswordPage"  color="light" class="border" ion-button block outline>Reset password</button>
    </ion-row>
</ion-content>
