<ion-header no-border="">
  <ion-navbar color="primary" transparent>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dark-gradient"></div>
   <ion-grid fixed style="padding-top: 90px;">
        <ion-row>
            <ion-col col-lg-6 push-lg-3 col-md-6 push-md-3 col-sm-12>
              <!--<ion-title>Signup</ion-title>-->
              <form novalidate submit="return false;">

                  <ion-row>
                    <ion-item>
                        <ion-label for="username"></ion-label>
                        <ion-input type="text" [(ngModel)]="user.username" name="username" placeholder="UserName" ></ion-input>
                    </ion-item>
                  </ion-row>

                  <ion-row>
                    <ion-item>
                        <ion-label for="FirstName"></ion-label>
                        <ion-input type="text" [(ngModel)]="user.first_name" name="first_name" placeholder="First Name" ></ion-input>
                    </ion-item>
                  </ion-row>


                  <ion-row>
                    <ion-item>
                        <ion-label for="LastName"></ion-label>
                        <ion-input type="text"  [(ngModel)]="user.last_name" name="last_name" placeholder="Last Name" ></ion-input>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-item>
                        <ion-label for="PhoneNumber"></ion-label>
                        <ion-input type="text" [(ngModel)]="user.mobile_number" name="mobile_number" placeholder="Mobile  Number" ></ion-input>
                    </ion-item>
                  </ion-row>


                  <ion-row>
                    <ion-item>
                        <ion-label for="email"></ion-label>
                        <ion-input type="email"  [(ngModel)]="user.email" name="email" placeholder="Email" ></ion-input>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-item>
                        <ion-label for="password"></ion-label>
                        <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" ></ion-input>
                    </ion-item>
                  </ion-row>
                <br><br>

                  <ion-row>
                      <button (tap)="register()" class="register-button" ion-button type="submit" color="light" block outline>Sign up</button>
                  </ion-row>
              </form>
            </ion-col>
        </ion-row>
   </ion-grid>
</ion-content>
