<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle style="color: #fff">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Gym</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dark-gradient"></div>
   <ion-grid fixed class="padding-top">
        <ion-row>
            <ion-col col-lg-6 push-lg-3 col-md-6 push-md-3 col-sm-12>
              <!--<ion-title>Signup</ion-title>-->
              <form novalidate>
                  <ion-row>
                    <ion-item>
                        <ion-label for="name"></ion-label>
                        <ion-input [(ngModel)]="name" type="text" name="name" value="" placeholder="Gym Name" ></ion-input>
                    </ion-item>
                  </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label for="location"></ion-label>
                        <ion-input [(ngModel)]="location" name="location" type="text" value="" placeholder="location" ></ion-input>
                    </ion-item>
                  </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label for="phone"></ion-label>
                        <ion-input [(ngModel)]="phone" type="text" name="phone" value="" placeholder="Phone Number" ></ion-input>
                    </ion-item>
                  </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label for="email"></ion-label>
                        <ion-input [(ngModel)]="email" type="email" name="email" value="" placeholder="email" ></ion-input>
                    </ion-item>
                  </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label for="description"></ion-label>
                        <ion-input [(ngModel)]="description" type="text" name="description" value="" placeholder="description" ></ion-input>
                    </ion-item>
                  </ion-row>


                <br><br>

                  <ion-row>
                      <button  (click)="addGym(name,location,phone,email,description)" class="register-button" ion-button type="submit" color="light" block outline>Add Gym</button>
                  </ion-row>
              </form>
            </ion-col>
        </ion-row>
   </ion-grid>
</ion-content>
