<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle style="color: #fff">
      <ion-icon name="menu"></ion-icon>
        <ion-title>Admin Dashboard</ion-title>
    </button>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
  <div class="dark-gradient"></div>

</ion-content>
