<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="dark-gradient"></div>
   <ion-grid fixed class="padding-top">
        <ion-row>
            <ion-col col-lg-6 push-lg-3 col-md-6 push-md-3 col-sm-12>
              <!--<ion-title>Signup</ion-title>-->
              <form [formGroup]="signupForm" (ngSubmit)="saveprofile()" novalidate>

                    <ion-item>
                        <ion-label for="firstname"></ion-label>
                        <ion-input type="text" value="" placeholder="First Name" formControlName="firstname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label for="lastname"></ion-label>
                        <ion-input type="text" value="" placeholder="Last Name" formControlName="lastname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label for="username"></ion-label>
                        <ion-input type="text" value="" placeholder="Username" formControlName="username"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label for="phonenumber"></ion-label>
                        <ion-input type="text" value="" placeholder="Phone Number" formControlName="phonenumber"></ion-input>
                    </ion-item>

                <ion-item>
                   <ion-label stacked>Gender:</ion-label>
                   <ion-select
                      formControlName="sex"
                      >
                       <ion-option value="Female">Female</ion-option>
                        <ion-option value="Male">Male</ion-option>
                         <ion-option value="Others">Others</ion-option>
                   </ion-select>
                </ion-item>

                    <ion-item>
                          <span
                          ion-text
                          color="primary"
                          block
                          text-center
                          padding-top
                          padding-bottom
                          (click)="selectImage()">Select Profile Picture</span>
                          <input
                             type="hidden"
                             name="image"
                             formControlName="image"
                             [(ngModel)]="pfImage">
                          <img [src]="ProfileImage">
                        </ion-item>

                <br><br>

                  <ion-row>
                      <button class="register-button" ion-button type="submit" color="light" block outline>Sign up</button>
                  </ion-row>
              </form>
            </ion-col>
        </ion-row>
   </ion-grid>
</ion-content>
