
<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fitness Centers</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
    <div class="dark-gradient"></div>
<ion-grid style="margin-top: 100px">
    <ion-row >
      <ion-col col-lg-12 push-lg-0 col-md-12 push-md-0 no-padding>
        <div>
          <ion-row no-padding class="discovery-row">
            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Aerobic Centers</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Yoga Centers</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Dance Centers</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Pilates Centers</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Gyms Centers</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>

            <ion-col class="discovery-col" col-xl-2 col-lg-3 col-md-4 col-6 no-padding (tap)="goToGym()">
              <div class="discovery-card">
                <br>
                <h1>Athletic Clubs</h1>
                <p>Inspirational Stuff</p>
                <div class="discovery-stripe"></div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-card style="margin-top: 100px" (click)="goToGym()">-->
    <!--<img src="assets/imgs/14.jpg" class="image"/>-->
    <!--<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title"> Aerobic Centers</div>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<img src="assets/imgs/20.jpg" class="image"/>-->
    <!--<<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title">Yoga Centers</div>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<img src="assets/imgs/13.jpg" class="image"/>-->
    <!--<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title">Dance Centers</div>-->
  <!--</ion-card>-->

   <!--<ion-card (click)="goToGym()">-->
    <!--<img src="assets/imgs/14.jpg" class="image"/>-->
    <!--<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title"> Pilates Centers</div>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<img src="assets/imgs/20.jpg" class="image"/>-->
    <!--<<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title">Gyms</div>-->
  <!--</ion-card>-->

  <!--<ion-card  (click)="goToGym()">-->
    <!--<img src="assets/imgs/14.jpg" class="image"/>-->
    <!--<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title"> Country Clubs</div>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<img src="assets/imgs/20.jpg" class="image"/>-->
    <!--<<div class="card-subtitle">Inspirational content</div>-->
    <!--<div class="card-title">Athletic Clubs</div>-->
  <!--</ion-card>-->




</ion-content>
