<ion-header no-border="">
  <ion-navbar transparent style="color: #fff">
    <button ion-button menuToggle style="color: #fff">
      <ion-icon name="menu" style="color: #fff"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding >
  <div class="dark-gradient"></div>
  <div >

<div class="padding-top" >
  <ion-card >
    <ion-card-content>
     <ion-card-title>
        Thika Car Hire Limited
      </ion-card-title>
      </ion-card-content>
    <img src="assets/images/3.jpg" >
    <ion-card-content >
      <ion-card-title>
        Thika Car Hire Limited
      </ion-card-title>

      <p>
        Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum
        Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum
        Lore Ipsum Lore Ipsum Lore Ipsum
      </p>
    </ion-card-content>

    <ion-card-content >
      <ion-card-title>
      price per Day
      </ion-card-title>
      <p>
        <ion-icon name='md-cash' style="color: #28a74b;" ></ion-icon>
          Ksh. 3000
      </p>
       <ion-card-title >
        Location
      </ion-card-title>
      <p>
        <ion-icon name='md-locate' style="color: #2119ff;"></ion-icon>
        Thika Town
      </p>
       <ion-card-title>
        Contacts
      </ion-card-title>
      <p>
        <ion-icon name='md-locate' style="color: #2119ff;"></ion-icon>
        0718555832
      </p>
      <p>
        <ion-icon name='md-locate' style="color: #2119ff;"></ion-icon>
        thikatown@gmail.com
      </p>

    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='contacts'></ion-icon>
          Connect
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</div>
    </div>


</ion-content>
