page-view-gym {
  color: #ffffff;

  ion-item, ion-item.item-md {
    background: inherit;
    color: #f7f7f7;
    //padding-right: 16px;
  }

  ion-content {
    .scroll-content, .fixed-content {
      padding-top: 0 !important;
      //padding-bottom: 0 !important;
      margin-top: 0 !important;
      //margin-bottom: 0 !important;
    }
  }
   .content, content-md {
    //background-color: #272734;
    //background-image: url("../../assets/imgs/Tunaweb_8.jpg");
    //background: linear-gradient(to bottom,  #70CF49 0%, #70CF49 100%);
    background-image: url("../assets/images/5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  ion-item, ion-item.item-md {
    background: inherit;
    color: #f7f7f7;
    //padding-right: 16px;
  }

  .login-action-btns {
    display: flex;
    flex-direction: row;
  }

  .tunaweza-login {
    background-color: #fec524;
    color: #f7f7f7;
    border: none;
  }
  .tunaweza-login:hover {
    border: 1px solid #f7f7f7;
  }
  .login-button {
    background-color: #f7f7f7;
    color: #333;
    flex-grow: 1;
    margin-right: 5px;
    border: none;
  }
  .login-button:hover {
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
  }

  .register-button {
    background-color: #3b5998;
    color: #f7f7f7;
    flex-grow: 1;
    margin-right: 5px;
    border: none;
  }
  .register-button:hover {
    border: 1px solid #f7f7f7;
  }

  .tunaweza-button {
    //background-color: $twz-yellow-dark;
    color: #030303;
  }

  .dark-gradient {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  h4 {
    font-size: 2rem;
    color: #fff;
  }

  .item-label-stacked .input-wrapper, .item-label-floating .input-wrapper {
    color: #fff !important;
  }

  input {
    -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
  }
  .padding-top{
    padding-top:60px;
  }
  .border{
    border: none;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}

}
