


<ion-menu [content]="content" >

  <ion-content #menu class="menu" color="dark" class="menu-bg" >

    <ion-card text-center class="hide-card card-color"  >

      <br>
      <img src="assets/imgs/rk.jpg" class="custom-avatar" />
      <br>
      <h2 style="color: white">Stella Sikhila</h2>
      <p style="color: white">Nairobi, Kenya</p>
    <hr>
  </ion-card>

    <ion-item-group color="dark" class="menu-bg" >
      <!--<ion-item-divider class="card-color">Users</ion-item-divider>-->
      <button  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menu-bg" >
        {{p.title}}
      </button>
    </ion-item-group>

    <!--<ion-item-group color="dark" >-->
        <!--<ion-item-divider class="card-color">Admin</ion-item-divider>-->
        <!--<button class="menu-bg" color="dark" menuClose ion-item *ngFor="let p of admin" (click)="openPage(p)">-->
          <!--&lt;!&ndash;<ion-icon [name]="p.icon" item-left></ion-icon>&ndash;&gt;-->
          <!--{{p.title}}-->
        <!--</button>-->
      <!--</ion-item-group>-->

    <ion-item-group color="dark">
        <ion-item-divider class="card-color">Settings</ion-item-divider>
        <button class="menu-bg"  color="dark" menuClose ion-item >
          <!--<ion-icon [name]="p.icon" item-left></ion-icon>-->
          Log Out
        </button>
      </ion-item-group>


  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<!--ionic cordova run android --device-->
