<ion-header no-border="">
  <ion-navbar transparent="">
    <!--<ion-title>Ionic2Firebase</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dark-gradient"></div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" novalidate class="padding-top">
    <ion-row>
      <ion-item>
        <ion-label for="email"></ion-label>
        <ion-input type="email" value="" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    </ion-row>
    <br><br>
    <ion-row>
      <button ion-button class="login-button" color="light" type="submit" block outline>Reset password</button>
    </ion-row>
  </form>
</ion-content>
