<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle style="color: #fff">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="loading">
  <div class="dark-gradient"></div>
  <ion-list class="padding-top">
    <ion-searchbar placeholder="Search " (ionInput)="getItems($event)"></ion-searchbar>
  </ion-list>

  <ion-list  *ngIf="gymResponse">
  <ion-item *ngFor="let data of gymResponse">
    <ion-thumbnail item-start>
      <img [src]="data.image">
      <!--<pre>{{data | json}}</pre>-->
    </ion-thumbnail>
    <h2>{{data.title}}</h2>
    <p style="color: #f7f7f7" *ngFor="let location of data.location">
      {{location.name}}</p>
    <button ion-button clear item-end (tap)="goTogym(data)">View</button>
  </ion-item>
</ion-list>

</ion-content>
