<ion-header no-border="">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding >
    <div class="dark-gradient"></div>
<ion-grid style="margin-top: 50px">

  <ion-list>
    <ion-searchbar placeholder="Search " ></ion-searchbar>
  </ion-list>

    <ion-list>
    <ion-item >
      <ion-thumbnail item-start>
        <img src="assets/images/1.jpg">
        <!--<pre>{{data | json}}</pre>-->
      </ion-thumbnail>
      <h2>Prado</h2>
      <h3>Price per Day: ksh 3000</h3>
      <p style="color: #f7f7f7">
        Location: Thika</p>
      <button ion-button clear item-end (tap)="goTogym()">View</button>
      <button ion-button clear item-end (tap)="edit()">Edit</button>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item >
      <ion-thumbnail item-start>
        <img src="assets/images/5.jpg">
        <!--<pre>{{data | json}}</pre>-->
      </ion-thumbnail>
      <h2>Prado</h2>
      <h3>Price per Day: ksh 3000</h3>
      <p style="color: #f7f7f7">
        Location: Thika</p>
      <button ion-button clear item-end (tap)="goTogym()">View</button>
      <button ion-button clear item-end (tap)="edit()">Edit</button>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item >
      <ion-thumbnail item-start>
        <img src="assets/images/4.jpg">
        <!--<pre>{{data | json}}</pre>-->
      </ion-thumbnail>
      <h2>Prado</h2>
      <h3>Price per Day: ksh 3000</h3>
      <p style="color: #f7f7f7">
        Location: Thika</p>
      <button ion-button clear item-end (tap)="goTogym()">View</button>
      <button ion-button clear item-end (tap)="edit()">Edit</button>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item >
      <ion-thumbnail item-start>
        <img src="assets/images/2.jpg">
        <!--<pre>{{data | json}}</pre>-->
      </ion-thumbnail>
      <h2>Prado</h2>
      <h3>Price per Day: ksh 3000</h3>
      <p style="color: #f7f7f7">
        Location: Thika</p>
      <button ion-button clear item-end (tap)="goTogym()">View</button>
      <button ion-button clear item-end (tap)="edit()">Edit</button>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item >
      <ion-thumbnail item-start>
        <img src="assets/images/3.jpg">
        <!--<pre>{{data | json}}</pre>-->
      </ion-thumbnail>
      <h2>Prado</h2>
      <h3>Price per Day: ksh 3000</h3>
      <p style="color: #f7f7f7">
        Location: Thika</p>
      <button ion-button clear item-end (tap)="goTogym()">View</button>
      <button ion-button clear item-end (tap)="edit()">Edit</button>
    </ion-item>
  </ion-list>






  </ion-grid>





</ion-content>
