page-products {
color: #ffffff;

    ion-card {
    position: relative;
    text-align: center;
      height: 200px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  ion-item, ion-item.item-md {
    background: inherit;
    color: #f7f7f7;
    //padding-right: 16px;
  }

  ion-content {
    .scroll-content, .fixed-content {
      padding-top: 0 !important;
      //padding-bottom: 0 !important;
      margin-top: 0 !important;
      //margin-bottom: 0 !important;
    }
  }
   .content, content-md {
    //background-color: #272734;
    //background-image: url("../../assets/imgs/Tunaweb_8.jpg");
    //background: linear-gradient(to bottom,  #70CF49 0%, #70CF49 100%);
    background-image: url("../assets/images/3.jpg");
    background-repeat: no-repeat;
    background-position: center center;  background-size: cover;
  }

  ion-item, ion-item.item-md {
    background: inherit;
    color: #f7f7f7;
    //padding-right: 16px;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}


  .login-action-btns {
    display: flex;
    flex-direction: row;
  }

  .tunaweza-login {
    background-color: #fec524;
    color: #f7f7f7;
    border: none;
  }
  .tunaweza-login:hover {
    border: 1px solid #f7f7f7;
  }
  .login-button {
    background-color: #f7f7f7;
    color: #333;
    flex-grow: 1;
    margin-right: 5px;
    border: none;
  }
  .login-button:hover {
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
  }

  .register-button {
    background-color: #3b5998;
    color: #f7f7f7;
    flex-grow: 1;
    margin-right: 5px;
    border: none;
  }
  .register-button:hover {
    border: 1px solid #f7f7f7;
  }

  .tunaweza-button {
    //background-color: $twz-yellow-dark;
    color: #030303;
  }

  .dark-gradient {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  h4 {
    font-size: 2rem;
    color: #fff;
  }

  .item-label-stacked .input-wrapper, .item-label-floating .input-wrapper {
    color: #fff !important;
  }

  input {
    -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
  }
  .padding-top{
    padding-top:250px;
  }
  .border{
    border: none;
  }
  .image{
    object-fit: none;
  object-position: 0 150%;
  object-position: 0 0;
    background-position: center center;
    background-size: cover;
  }

  .discovery-card {
    text-align: center;
    margin: 8px 4px;
    background: rgba(0, 0, 0, .3);
    color: white;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    //&:hover {
    //  transition: 200ms;
    //  background: rgba(0,0,0,.5);
    //  box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    //}

    .discovery-image {
      margin-top: 16px;
      height: 80px;
      width: 80px;
      display: inline;

    }

    .discovery-stripe {
      width: 100%;
      height: 10px;
      background-color: green;
    }
    .discovery-stripe2 {
      width: 100%;
      height: 10px;
      background-color: green;
    }
    .discovery-stripe3 {
      width: 100%;
      height: 10px;
      background-color: green;
    }
    .discovery-stripe4 {
      width: 100%;
      height: 10px;
      background-color: green;
    }

    ion-card-title {
      padding: 10px;
    }

    .discovery-gradient {
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 );
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      opacity: .7;

    }

  }

  .item-divider-md {
    //background-color: transparent;
    //color: #f7f7f7;
    font-size: 140%;
    //ion-icon {
    //  color: #f7f7f7;
    //}
  }

  .le-row {
    background-color: #222;
  }


  .discovery-col .discovery-card .discovery-stripe {
    position: relative;
  }

  .discovery-col .discovery-card .discovery-stripe2 {
    background-color: red;
  }

  .discovery-col .discovery-card .discovery-stripe3 {
    background-color: darkblue;
  }

  .discovery-col .discovery-card .discovery-stripe4 {
    background-color: orange;
  }

  .discovery-col:nth-child(4) .discovery-card .discovery-stripe {
    background-color: green;
  }

  .discovery-col:nth-child(5) .discovery-card .discovery-stripe {
    background-color: blue;
  }

  .discovery-col:nth-child(6) .discovery-card .discovery-stripe {
    background-color: purple;
  }

  .discovery-col:nth-child(7) .discovery-card .discovery-stripe {
    background-color: darkred;
  }

  .discovery-col:nth-child(8) .discovery-card .discovery-stripe {
    background-color: darkorange;
  }

  .discovery-col:nth-child(9) .discovery-card .discovery-stripe {
    background-color: yellowgreen;
  }

  .discovery-col:nth-child(10) .discovery-card .discovery-stripe {
    background-color: darkgreen;
  }

  .discovery-col:nth-child(11) .discovery-card .discovery-stripe {
    background-color: darkblue;
  }

  .discovery-col:nth-child(12) .discovery-card .discovery-stripe {
    background-color: purple;
  }

}
